@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
  --color-primary: lightgreen; /*color-primary é o nome da variável*/
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

#logo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.75rem;
  text-decoration: none;
  color: black;
}

#logoSec {
  /*color: #ff8400;*/
  color: var(--color-primary);
}

.link {
  text-decoration: none;
}

#homain {
  padding-top: 12vh;
  padding-bottom: 18vh;
}
